* {
	font-family: serif;
}

body {
	background: black;
}

.postcard {
	background: rgb(245, 246, 247);
	width: 420px;
	height: 300px;
	margin: auto;
	margin-top: 100px;
}

.postcard-header {
	display: flex;
	padding-right: 10px;
	padding-top: 10px;
	padding-left: 3px;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 500px;
	margin: 5px;
}

.postcard-body {
	display: flex;
}

.body-left,
.body-right {
	width: 250px;
}
.body-left p:first-child {
	margin-top: x;
}

input {
	border: x;
	border-bottom: x;
}

.body-right {
	padding-left: 30px;
}

.body-left {
	padding-left: 10px;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: rgb(233, 233, 233);
	padding: 5px;
}
